<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="home"  style="font-family: 'Dancing Script';"><h2 class="text-light">Shop<b class="text-success">Evergreen</b></h2></a >
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

<!--    <div class="d-flex justify-content-around p-2 bg-info " style="font-family:Lobster;">-->
<!--      <a routerLink="home" class="text-dark"><div>Home</div></a>-->
<!--      <div><a href="#" class="text-dark">Clothes</a></div>-->
<!--      <div><a routerLink="productList" class="text-dark">Books</a></div>-->
<!--      <div><a href="#" class="text-dark">Sports</a></div>-->
<!--      <div><a href="#" class="text-dark">Electronics</a></div>-->


<!--    </div>-->

    <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div *ngIf="!this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="login">Login</a></div>
  <div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="login">MyProfile</a></div>
<div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="login">Cart</a></div>
<div *ngIf="this.authService.isUserLoggedIn()"  class = "p-2"><a class="text-success" routerLink="login">Orders</a></div>

  <div *ngIf="this.authService.isUserLoggedIn()" class = "p-2"><a class="text-success" routerLink="login" (click)="logout()">Logout</a></div>

  <div *ngIf="!this.authService.isUserLoggedIn()" class = "p-2"><a class="text-success" routerLink="SignUp">SignUp</a></div>

</nav>
