

<div class="container mb-4">

  <div class="row">

    <div class="col-12">

      <div class="table-responsive">

        <table class="table table-striped">

          <thead>

          <tr>

            <th scope="col"> </th>

            <th scope="col">Product</th>

            <th scope="col">Available</th>

            <th scope="col" class="text-center">Quantity</th>

            <th scope="col" class="text-right">Price</th>

            <th> </th>

          </tr>

          </thead>

          <tbody>

          <tr *ngFor="let c of data1">

            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>

            <td>{{c.itemName}}</td>

            <td>In stock</td>

            <td><input class="form-control" type="text" value="{{c.quantity}}" /></td>

            <td class="text-right">124,90 €</td>

            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>

          </tr>


          <tr>


          </tbody>

        </table>

      </div>

    </div>

    <div class="col mb-2">

      <div class="row">

        <div class="col-sm-12  col-md-6">

          <button class="btn btn-block btn-light" routerLink="/home">Continue Shopping</button>

        </div>

      </div>

    </div>

  </div>

</div>


